.front-background {
    background-color: goldenrod;
}

/* .front-welcome {
    text-align: center;
} */

.front-location-font-style {
    font-style: oblique;
}

.front-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}



