.front-background {
    background-color: goldenrod;
}

.front-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.front-page-title {
    /* text-decoration: underline; */
    /* background-color: goldenrod; */
    /* margin-top: 0!important;
    margin-bottom: 0!important; */
}

