.about-background {
    background-color: lightgrey;
}

.about {
    margin: auto;
    width: 50%;
    border: 3px solid goldenrod;
    padding: 50px;
    height: 70vh;
    overflow-x: hidden;
    background-color: white;
}

.temple-of-heave-image {
    margin: auto;
    display: block;
    border: 5px solid goldenrod;
    width: 90%;
}

.about-spacing {
    line-height: 2;
    text-align: left;
}

.about-us {
    text-align: center;
}