
.card-title {
    text-align: center;
    font-family: 'Georgia', 'serif';
}

.card-spacing {
    line-height: 2;
    font-family: 'Georgia', 'serif';
}

.card-time {
    color: crimson;
    font-family: 'Georgia', 'serif';
}

.card-front {
    font-family: 'Brush Script MT', 'cursive';
}