.greatwall-image {
    margin: auto;
    display: block;
    border: 5px solid goldenrod;
    width: 65em;
    height: 28em;
}

.container {
    display: flex;
    background-color: lightgrey;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.container div {
    background-color: azure;
    align-items: center;
    margin: 60px;
    width: 100%;
}

.back-ground {
    background-color: lightgray;
}