.contact-greatwall-image {
    margin: auto;
    display: block;
    border: 5px solid goldenrod;
    width: 75%;
    max-height: 600px;
}

.contact-back-ground {
    background-color: lightgray;
}


.contact-ul-list {
    display: inline;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.contact-container-item {
    margin: 60px;
    width: 500px;
    background-color: white;
}

.contact-container-contact {
    min-height: 100px;
}

.contact-container-open {
    min-height: 200px;
}

.contact-container-newyorkstyle {
    min-height: 300px;
}

